.column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: gray;
    padding: 50px;
    margin: 2px;
    border-radius: 2px solid black;
}